exclude *.config
exclude *.pyc
exclude *.pyo
exclude *.yaml
exclude .DS_Store
exclude .dist
exclude .env
exclude .flake8
exclude .github
exclude .cl*/*
exclude .github/*
exclude .gitignore
exclude .ins*/*
exclude .idea
exclude .pylintrc
exclude .scraps
exclude .vscode
exclude Makefile
exclude .pytest_cache/*

recursive-include src/wattleflow/ *.py
prune .github
prune .vscode
prune __pycache__
prune .pytest_cache
prune doc
prune dist
prune endpoints
prune examples
prune models
prune scripts
prune tests
prune todo
prune tools
prune wattleflow_workflow*
prune src/wattleflow/api
prune src/wattleflow/audit
prune src/wattleflow/blackboards
prune src/wattleflow/connections
prune src/wattleflow/core
prune src/wattleflow/managers
prune src/wattleflow/processors
prune src/wattleflow/repositories
prune src/wattleflow/schedulers

prune .cl*/*
prune .ins*/*
prune .pytest_cache/*

exclude helpers/audit.py
exclude helpers/logger.py
exclude src/wattleflow/documents/rdf.py
exclude .cl*/*
exclude .ins*/*

include README.md LICENSE pyproject.toml
include doc/wattleflow.png
include doc/SUMMARY.md
