prune __pycache__
prune .pytest_cache
exclude *.pyc
exclude *.pyo
exclude .DS_Store
exclude .dist
exclude .env
exclude .flake8
exclude .github/*
exclude .gitignore
exclude .gitignore
exclude .idea
exclude .pylintrc
exclude .scraps
exclude .vscode
exclude .vscode
exclude .vscode
exclude Makefile
exclude endpoints
exclude helpers/audit.py
exclude helpers/logger.py
exclude models
exclude src/wattleflow/api
exclude src/wattleflow/audit
exclude src/wattleflow/blackboards
exclude src/wattleflow/connections
exclude src/wattleflow/core
exclude src/wattleflow/documents/rdf.py
exclude src/wattleflow/managers
exclude src/wattleflow/processors
exclude src/wattleflow/repositories
exclude src/wattleflow/schedulers
exclude tests
exclude tests/config.yaml
exclude tests/scheduler.yaml
exclude tools/doc

include README.md LICENSE
include doc/wattleflow.png
recursive-include src/wattleflow/ *.py

